* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: brown;
  padding: 15px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.todo {
  background-color: white;
  border: 2px solid black;
  border-radius: 5px;
  padding: 10px;
}
.titulo {
  background-color: blue;
  width: auto;
  border-radius: 5px;
  margin: 5px;
  padding: 20px;
  display: flex;
  justify-content: center;
}
.centro {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.contenido {
  background-color: rgb(173, 173, 173);
  height: 300px;
  width: 47%;
  padding: 5px;
  border: 2px solid black;
}
.input {
  height: 20px;
  width: 97%;
  border-radius: 5px;
}
button {
 width:98%;
 background-image: linear-gradient(to right, #314755 0%, #26a0da  51%, #314755  100%);
 margin: 5px;
 padding: 15px 45px;
 text-align: center;
 text-transform: uppercase;
 transition: 0.5s;
 background-size: 200% auto;
 color: white;            
 box-shadow: 0 0 20px #eee;
 border-radius: 10px;
 display: block;
 
}
button:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
         
}
p {
  border-top: 10px solid rgba(255, 0, 0, 0);
  text-align: center;
  font-size: 100%;
}
